<html>
<head>
	<meta charset='utf-8'>
	<title>#sg15 | Unofficial General Election 2015</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vote.css" />
</head>
<body>
	<% if(user) { %>
		<nav class='navbar'>
			<ul class='navbar-list'>
				<li class="navbar-item icon">
					<img src="/images/icon.svg">
  			</li>
				<li class='navbar-item navbar-facebook-logout'>
					<a class='facebook-logout' href='/logout'>Log out </a>
				</li>
				<li class='navbar-item navbar-profile'>
					<img class='user-profile' src='<%= user.image %>' />
				</li>
				<li class='navbar-item navbar-username'>
					<span class='user-name'><%= user.name %></span>
				</li>
			</ul>
		</nav>
	<% } %>
	<div class="container main-content">
		<div class="tagline">
			<h1>You only vote once</h1>
			<span>*So vote wisely</span>
		</div>
		<form method="POST" action="<%= user ? '/vote/' + user._id : '' %>">
			<div class="ballot-paper">
				<span class="section-title">Section XX(X)</span>
	      <span class="title">Unofficial General Elections</span>
	      <span class="constituency-name"><%= data.divisionName %></span>
	      <hr class="section-ballot-hr" />
	      <span class="ballot-title">form of front of ballot paper</span>
					<input type="hidden" name="_method" value="PUT"/>
					<input type="hidden" name="divisionName" value="<%= data.divisionName %>"/>
					<table border="20">
					<% for(var i=0; i<data.parties.length; i++) {%>
						<tr>
							<td>
								<% for(var j=0; j<data.parties[i].candidates.length; j++) {%>
				   				<p class="candidate-name"><%= data.parties[i].candidates[j].name %></p>
								<% } %>
							</td>
							<td>
								<% if(data.parties[i].image) {%>
									<img class="candidate-party-image" src='<%= data.parties[i].image %>' />
								<%} else {%>
									<img class="candidate-party-image" src='<%= data.parties[i].candidates[0].image %>' />
								<% } %>
							</td>
							<td>
								<input type="radio" value='<%= data.parties[i].name %>' name="party" />
							</td>
						</tr>
					<% } %>
					</table>
			</div>
			<div class="btn-panel row">
				<% if(user) {%>
					<input type="submit" class="btn vote-btn" value="Cast your vote">
				<%} else {%>
					<a href="/auth/facebook" class="btn facebook-btn">Login with facebook to vote</a>
				<%}%>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
	<script type="text/javascript">
		$('input:radio').on('click', function (e) {
			var parent = $(this).parent();
			if($(this).is(':checked')) {
				$('.cross').remove();
				var svg = $('\
					<svg class="cross" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">\
						<path d="M 10 10 L 90 90"></path>\
						<path d="M 90 10 L 10 90"></path>\
					</svg>\
				');
				parent.append(svg);
			}
		});
	</script>
</body>
</html>