<html>
<head>
	<meta charset='utf-8'>
	<title>#sg15 | Unofficial General Election 2015</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,100,300,600,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vote.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/checkbox-animate/checkbox-animate.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/skeleton.css" />
</head>
<body>
	<div class="container">
		<div class="ballot-paper">
      <h1 class="text-center text-bold">Unofficial General Elections</h1>
      <h3 class="text-center text-italic text-bold"><%= data.divisionName %></h3>

      <hr class="ballot-hr section-ballot-hr" />

			<form class="ac-custom ac-checkbox ac-cross">
				<% for(var i=0; i<data.parties.length; i++) {%>
					<div class="row candidate-container">
		   			<div class="five columns">
		   				<div class="row">
			   				<% for(var j=0; j<data.parties[i].candidates.length; j++) {%>
			   					<div class="three columns candidate-image-container">
				   					<img class="candidate-image" src='<%= data.parties[i].candidates[j].image %>' />
				   				</div>
				   				<% if(j % 4 == 2) {%>
				   					</div>
				   					<div class="row">
				   				<% } %>
				   			<% } %>
				   		</div>
		   			</div>
		   			<div class="three columns">
		   				<% for(var j=0; j<data.parties[i].candidates.length; j++) {%>
		   					<p class="text-center candidate-name"><%= data.parties[i].candidates[j].name %></p>
		   				<% } %>
		   			</div>
		   			<div class="three columns candidate-party-container">
	   					<img class="candidate-party-image" src='<%= data.parties[i].image %>' />
	   					<h5 class="candidate-party-name text-center"><%= data.parties[i].name %></h5>
		   			</div>
		   			<div class="one column candidate-checkbox-container">
		   				<input type="checkbox" id='<%= data.parties[i].name %>' name='<%= data.parties[i].name %>'>
		   					<label for='<%= data.parties[i].name %>' />
		   				</input>
		   			</div>
			   	</div>
		   		<% if(i != data.parties.length-1) {%>
		   			<hr class="ballot-hr list-ballot-hr" />
		   		<% } %>
				<% } %>

				<div class="row cast-vote-container">
					<% if(user) {%>
						<a href="#" class="cast-btn">Cast your vote</a>
					<%} else {%>
						<a href="/welcome" class="facebook-btn">Login with facebook to vote</a>
					<%}%>
				</div>

			</form>

		</div>
	</div>

	<script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
	<script type="text/javascript" src="/javascripts/vendor/checkbox-animate/svgcheckbx.js"></script>
	<script type="text/javascript" src="/javascripts/vote.bundle.js"></script>
</body>
</html>